.house {
  width: 500px;
  transition: all 2s ease-out 0s;
}

.house:hover {
  transform: rotate(180deg);
}

.house:hover .house__foundation {
  margin-top: 100px;
}

.house:hover .house__skeleton {
  margin-top: 100px;
}

.house:hover .house__roof-pipe {
  bottom: 50px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

.house:hover .house__roof-pipe::before {
  background-color: blue;
}

.house:hover .house__roof-pipe::after {
  background-color: pink;
}

.house:hover .house__window {
  transform: rotate(90deg);
  left: 300px;
  top: 20px;
}

.house:hover .house__door {
  transform: rotate(270deg);
  left: 100px;
  top: 100px;
}

.house__foundation {
  height: 50px;
  background: gray;
  transition: all 2s ease-out 0s;
}

.house__skeleton {
  position: relative;
  transition: all 2s ease-out 0s;
}

.house__skeleton-row {
  line-height: 0;
  position: relative;
}


.house__skeleton-row .brick + .brick {
  border-left: 0;
}

.house__skeleton-row + .house__skeleton-row .brick {
  border-top: 0;
}

.house__skeleton-row:nth-child(even) .brick {
  width: calc(100% / 5);
}

.house__skeleton-row:nth-child(odd) .brick {
  width: calc(100% / 12);
}

.house__roof {
  position: relative;
}

.house__roof-inner {
  width: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 160px solid #8B008B;
  position: relative;
  z-index: 2;
}

.house__roof-pipe {
  width: 40px;
  height: 150px;
  background: #FF8C00;
  border: 3px #B86E0B solid;
  position: absolute;
  bottom: 0;
  left: 67%;
  transition: all 2s ease-out 0s;
}

.house__roof-pipe::before,
.house__roof-pipe::after {
  content: '';
  width: 100%;
  height: 20px;
  background: gray;
  position: absolute;
  border-radius: 50%;
  animation: house__roof-pipe-smoke 3s linear infinite;
  opacity: 0;
}

.house__roof-pipe::before {
  animation-delay: 1s;
}

.house__roof-pipe::after {
  animation-delay: 2s;
}

.house__window {
  position: absolute;
  width: 100px;
  height: 147px;
  border: 6px #ffffff solid;
  top: 60px;
  left: 85px;
  z-index: 2;
  background: #00BFFF;
  transition: all 2s ease-out 0s;
}

.house__window::before {
  width: 6px;
  margin-left: -3px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  content: '';
}

.house__window::after {
  height: 6px;
  margin-top: -3px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: calc(50% + 3px);
  right: 0;
  content: '';
}

.house__door {
  position: absolute;
  width: 100px;
  border: 6px #ffffff solid;
  top: 60px;
  bottom: 0;
  left: 296px;
  z-index: 1;
  background: #20B2AA;
  transition: all 2s ease-out 0s;
}

.house__door::after {
  width: 16px;
  height: 4px;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  background: #ffffff;
  content: '';
}

@keyframes house__roof-pipe-smoke {
  0% {
    bottom: 100%;
    opacity: 1;
  }
  100% {
    bottom: 300%;
    opacity: 0;
  }
}
